@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}
a:visited{
    color: white;
}

a:hover{
    color: lightgreen;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
}

.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: contain;
    /* background-repeat: repeat-y; */
}

.bottom{
    position: sticky;
    display: flex;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}